body, html {
  height: 100%;
  margin: 0;
  font-family: Trebuchet MS;
  font-weight: bold;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("IMG_9834.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* The navbar */
.topnav ul{
  list-style: none;
  position: fixed;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden; 
  background-color: #666; 
  opacity: 0.8;
}

.topnav li,.topnav :not(.logo){
  float: right;
  display: block;
  position: relative;
}

/* Navbar links */
.topnav a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
  margin-top: 3px;
}

.topnav a:hover {
  color: #80bfff;
  opacity: 0.8;
}

.topnav .logo img{
  width: auto ;
  float: left;
right: 500px;
  margin-top: -25px;
  margin-bottom: -25px;
}


#loginButton{
  background-color: transparent;
  padding: 14px 16px;
  color: white;
  display: block;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 3px;

}

#loginButton:hover{
  color: #80bfff;
}


/*login*/
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.butt {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

butt:hover {
  opacity: 0.8;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 50%;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.containerLogin {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* TABLETS */
@media screen and (max-width: 768px){
  .topnav .logo img{
    width: auto ;
    float: left;
  right: 540px;
  top:-50px;
    margin-top: -25px;
    margin-bottom: -25px;
  }
  
  .topnav ul{
    height:60px;
  }
}

@media screen and (max-width: 425px){
  /* The navbar */
  .topnav ul{
    height:30px;
  }
  
  
  /* Navbar links */
  .topnav a{
    font-size:13px;
    padding: 4px 4px;
  }
  
  #loginButton{
    padding: 3px 3px;
  }   
}
  